<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.htk.consumerapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher_icon_round"
        android:label="@string/app_name"
        android:roundIcon="@drawable/launcher_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".TestActivity"
            android:theme="@style/AppTheme.NoActionBar" ></activity>
        <!-- Added uses-library tag and usesClearTextTraffic for Internet connectivity problem in Android 9.0 -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".LocationActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashScreen3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashScreen2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashScreen1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OffersPackages"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WellnessTreatments"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NursingCare"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PhysiotherapistVisit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LaboratoryVisit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DoctorVisit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ForgotPassword"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:noHistory="true"
            android:name=".Dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:noHistory="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAR9eq9FYfcnaY6d0tiXpFlm2oBOTt1s5k" />
    </application>

</manifest>